<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 25.06.2016, 14:30</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post.</p>
        </div>

        <div>
            <p>published: 25.06.2016, 1:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post. Hahaha!</p>
        </div>
    </body>
</html>