<html>
    <head>
        <title>My first blog</title>
    </head>
    <body background="http://www.intrawallpaper.com/static/images/violet-vector-leaves-circles-backgrounds-for-powerpoint_PdfkI4q.jpg">
        <div>
            <h1>My first blog</h1>
        </div>
        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
    </body>
</html>